.width {
    width: 10rem !important;
}

.inputwidth {
    width: 117px !important;
}

.inputbuy {
    width: 119px !important;
}

.paddingleft {
    padding-left: 11px !important;
}

.paddingmobild{
    width: 147px !important;
}